@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;800&family=Montserrat:wght@700&family=Overpass:wght@400;500;700&family=Rubik:wght@300;400;500&display=swap");

/* ## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */
:root {
  /* ### Primary */
  --Scissors-Gradient: hsl(39, 89%, 49%), hsl(40, 84%, 53%);
  --Paper-Gradient: hsl(230, 89%, 62%), hsl(230, 89%, 65%);
  --Rock-Gradient: hsl(349, 71%, 52%), hsl(349, 70%, 56%);
  --Lizard-Gradient: hsl(261, 73%, 60%), hsl(261, 72%, 63%);
  --Cyan: hsl(189, 59%, 53%) to hsl(189, 58%, 57%);

  /* ### Neutral */
  --Dark-Text: hsl(229, 25%, 31%);
  --Score-Text: hsl(229, 64%, 46%);
  --Header-Outline: hsl(217, 16%, 45%);

  /* ### Background */
  --Radial-Gradient: hsl(214, 47%, 23%), hsl(237, 49%, 15%);
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(var(--Radial-Gradient));
  color: #fff;
  margin: 0;
  font-size: 18px;
  font-family: "Barlow", Manrope;
}
.container {
  padding-top: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container header {
  min-width: 830px;
  padding: 20px 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fcfcfc;
  box-shadow: 0px 0px 10px 2px #3665c3e8;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container header .title {
  display: flex;
  flex-direction: column;
  box-shadow: -5px 5px 4px 0px #fff;
}
.container header .title h1 {
  text-transform: uppercase;
  line-height: 33px;
  font-size: 2.5rem;
}
.container header .score-section {
  background-color: #fcfcfc;
  color: red;
  padding: 20px 50px 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.container header .score-section span:first-child {
  color: var(--Score-Text);
  margin-bottom: -10px;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.container header .score-section .score {
  font-size: 5rem;
  font-weight: 600;
  letter-spacing: -9px;
  color: var(--Dark-Text);
}
.container main {
  padding: 95px;
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  justify-content: center;
  gap: 50px 85px;
  align-items: center;
}
.container main button {
  background-color: #fff;
  width: 175px;
  height: 175px;
  padding: 10px;
  border-radius: 50%;
  border: 22px solid;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.container main button::after {
  content: "";
  position: absolute;
  background-color: hsl(235deg 50% 15%);
  width: 150px;
  height: 15px;
  z-index: -4;
}
.container main .paper {
  border-color: hsl(230, 89%, 62%);
  box-shadow: inset 1px 6px 2px 3px hsl(226deg 22% 77%),
    1px 8px 2px 0px hsl(229, 64%, 46%);
  /* background: linear-gradient(var(--Paper-Gradient)); */
}
.container main .paper:hover {
  box-shadow: 0px 0px 10px 10px #0b63d4d4;
}
.container main .paper::after {
  top: 85px;
  left: 135px;
}
.container main .scissors {
  border-color: hsl(39, 89%, 49%);
  box-shadow: inset 1px 6px 2px 3px #0e0e0e24,
    1px 8px 2px 0px hsl(29deg 75% 43%);
  /* background: linear-gradient(var(--Scissors-Gradient)); */
}
.container main .scissors:hover {
  box-shadow: 0px 0px 10px 10px #ac7f20ed;
}
.container main .scissors::after {
  top: 175px;
  left: -75px;
  transform: rotate(120deg);
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}
.container main .rock {
  border-color: hsl(349, 71%, 52%);
  box-shadow: inset 1px 6px 2px 3px #0e0e0e24, 1px 8px 2px 0px hsl(349 73% 35%);
  /* background: linear-gradient(var(--Rock-Gradient)); */
}
.container main .rock:hover {
  box-shadow: 0px 0px 10px 10px #ac2020ed;
}
.container main .rock::after {
  top: -70px;
  left: -80px;
  transform: rotate(120deg);
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
}
.container main button img {
  padding: 20px;
  min-width: 95px;
}

/* .container footer {} */
.container footer .rules {
  position: fixed;
  bottom: 60px;
  right: 50px;
  background-color: #141639;
  color: white;
  font-size: 1rem;
  padding: 10px 30px;
  border: 1px solid #fcfcfc;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.container footer .rules:hover {
  box-shadow: 0px 0px 10px 2px #ffffff6b;
}
